.awards {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 3.75rem;
}

.awards-wrapper {
    margin-top: 1.875rem;
}

.award-card {
    width: 100%;
    max-width: 125px;
    // max-height: 252px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    filter: grayscale(1);
    transition: all .25s;

    img {
        width: 100%;
    }

    &:hover {
        filter: grayscale(0);
    }
}

@media(max-width: 767px) {
    .awards {
        padding-top: 1.875rem;
    }
}