.choose-complectation {
    padding: 3.75rem 0;
    background-color: $e2Color;
    color: #fff;
    background-image: url(../img/__IMG_49801.png);
    background-repeat: no-repeat;
    // background-position: 85% bottom;
    background-position: 70% 70%;
    background-size: contain;

    .d-md-none {
        img {
            width: 100%;
        }
    }

    .standard-headliner {
        font-size: 42px;
        line-height: 45px;
    }

    .standart-p {
        max-width: 321px;
        margin-top: .75rem;
        margin-bottom: .4375rem;
    }

    .vertical-form {
        .form-group {
            :nth-child(3) {
                margin-top: 1.25rem;
            }
        }

        .standart-btn {
            margin-top: 1.25rem;
        }
    }
}

@media(max-width: 767px) {
    .choose-complectation {
        background-image: none;
        padding: 1rem 0;
    }
}