.cookie-block {
  width: 100%;
  padding: 1rem;
  background: gray;
  color: white;
  text-align: center;
  font-size: 12px;
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 10;

  a {
    color: white !important;
    text-decoration: underline;
  }

  .standart-btn {
    background: none;
    border: 1px solid #fff;
  }
}