.factory-section {
    padding-bottom: 5.75rem;

    .d-flex{
        margin-top: .875rem;
    }

    .factory-card {
        max-width: 350px;
        margin: 1rem auto;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            filter: grayscale(1);
            transition: all .25s;

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}