.factory-section {
    padding-bottom: 5.75rem;

    .d-flex{
        margin-top: .875rem;
    }

    .factory-card {
        margin: 1rem auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}