@font-face {
    font-family: 'Neo Sans Pro Medium';
    src: url('../fonts/NeoSansPro-Medium.eot');
    src: url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Medium.woff') format('woff'),
        url('../fonts/NeoSansPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro Regular';
    src: url('../fonts/NeoSansPro-Regular.eot');
    src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Regular.woff') format('woff'),
        url('../fonts/NeoSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}