footer {
    color: #fff;
    background-color: #333;
    padding-bottom: 1.625rem;
}

.footer-top {
    padding-top: 3rem;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        @include font($neoRegular, 'normal', 15px, 19px);

        li {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 12px;

            a {
                color: #fff;
            }

            // &:after {
            //     display: block;
            //     content: "";
            //     width: 7px;
            //     height: 7px;
            //     border-top: 2px solid #333333;
            //     border-left: 2px solid #333333;
            //     -webkit-transform: rotate(135deg);
            //     -ms-transform: rotate(135deg);
            //     transform: rotate(135deg);
            //     margin-left: .5rem;
            // }
        }
    }

    .footer-top-p {
        margin: .75rem 0 1rem 0;
        @include font($neoMedium, 'normal', 18px, 19px);
        text-transform: uppercase;
        opacity: .3;
        letter-spacing: 1px;
    }

    .footer-soc {
        margin-top: .75rem;
        margin-left: .75rem;

        &:first-child {
            margin-left: 0;
        }

        svg,
        img {
            width: 30px;
            height: 30px;
            border-radius: 4px;
        }
    }

    .footer-contact {
        display: block;
        @include font($neoRegular, 'normal', 16px, 18px);
        color: #fff;
        margin-top: .75rem;

    }
}

.footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.footer__credentials {
    text-transform: uppercase;
    margin-bottom: 0;
    opacity: .3;
}

.footer-bottom {
    margin-top: 2rem;
    @include font($neoRegular, 'normal', 12px, 14px);
    text-align: center;
}

// .footer-soc {
//     a {
//         color: transparent;
//     }
// }

@media(max-width: 991px) {
    .footer-top {
        padding-top: 0;

        .footer-top-p {
            margin-top: 1.5rem;
        }

        .footer-soc {
            margin-left: 1.5rem;

            svg {
                width: 50px;
                height: 50px;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .footer-nav {
        grid-template-columns: 1fr;
    }
}