.how-we-made {
    padding-top: 3.75rem;

    .container-fluid {
        margin-top: 1.875rem;
        background-color: #000000;

        iframe {
            width: 100% !important;
            height: 702px !important;
        }
    }
}

@media(max-width: 1100px) {
    .how-we-made {
        .container-fluid {
            iframe {
                height: 500px !important;
            }
        }
    }
}