.gallery {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 3.75rem !important;

    .main-gallery {
        margin-top: 1.875rem;

        // .splide__slide {

        //     img {
        //         transform: scale(.7);
        //     }
        // }
    
        // .is-active {
        //     img {
        //         transform: scale(1.1);
        //     }
        // }
    }

    .gallery-item {}

}

@media(max-width: 767px) {
    .gallery {
        margin: 1.875rem 0;
    }
}