.news-section {
    padding-top: 3.75rem;
}

.news-form-wrapper {
    width: 400px !important;

    .headliner-inner {
        font-size: 40px;
    }
}

@media (min-width:991px) {
    .news-title {
        .container {
            min-height: 571px;
        }
    }
}