.reviews-section {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;

    .reviews-gallery {
        margin: 0 auto;

        .gallery-item {
            margin-top: 15px;

            img {
                box-shadow: -3px -3px 8px 3px rgba(0, 0, 0, .6);
            }
        }
    }
}