.partners-inside_info{
    margin: 0 0 5.6em  0;
    .partners-inside_info__heading{
        margin: 0 0 1em 0;
        font-size: 32px;
        line-height: 34px;
        font-family: $neoMedium;
    }
    .partners-inside_info__txt{
        font-size: 16px;
        line-height: 26px;
        font-family: $neoRegular;
    }


}

.partners-inside_logo__img{
    width: auto;
    margin: 0 0 2em 0;
}