.encyclopedia{
    margin:40px 0 0 0;
    .encyclopedia_list{
        padding: 0;
        .encyclopedia_list__item{
            list-style-type: none;
            margin-top: 16px;
            font-family: $neoRegular;
            a{
                color: #000000;
            }

        }
    }
}

