.catalog-single__fiveth-part {
    padding: 4rem 0 1rem 0;
    position: relative;

    .added-to-list {
        border: 3px solid rgba(245, 47, 47, 0.5) !important;

        &:hover {
            .detail-item-borders {
                opacity: 0 !important;
            }
        }
    }

    .added-options-wrapper {
        position: absolute;
        top: 50px;
        right: 0;
        height: 100%;
        max-width: 360px;
        width: 100%;

        h5 {
            margin-bottom: 0;
            font-size: 20px;
            line-height: 21px;
            color: #333333;
            font-family: $neoMedium;
        }

        &:hover {
            .added-options-list {
                opacity: 1;
                z-index: 1;
            }
        }

        form {

            .form-group {
                position: relative;
            }

            input {
                width: 262px;
                padding: .875rem 2rem;
                border: 1px solid rgba(102, 99, 102, 0.5);
                border-radius: 0;
                position: relative;
            }

            svg {
                position: absolute;
                top: .875rem;
                left: .5rem;
            }

            .standart-btn {
                padding: .5rem;
                width: 262px;
                line-height: 28px;
                text-align: center;
            }
        }
    }

    .container-fluid {
        margin-top: .75rem;
    }

    .added-options-list {
        position: sticky;
        top: 2rem;
        background-color: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        opacity: .25;
        transition: all .25s;
        padding: 1.875rem 1.375rem;
        max-height: 100%;
        overflow-y: scroll;
    }

    .options-list {
        list-style-type: none;
        padding: 0;
        margin-top: 2rem;
    }

    .options-list-item {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &:first-of-type {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
            margin-left: .5rem;
            font-family: 'Arial';
            font-size: 14px;
            line-height: 15px;
            color: #333333;
        }
    }

    .detail-item {
        width: 100%;
        max-width: 400px;
        min-height: 138px;
        padding: 1.6875rem 1.5rem;
        background-color: #ffffff;
        margin: 1rem 5px 1rem 0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        position: relative;
        cursor: pointer;

        p {
            font-family: $neoMedium;
            font-size: 18px;
            line-height: 19px;
            color: #333333;
            margin: 0;
        }

        .detail-item-borders {
            position: absolute;
            height: 100%;
            width: 100%;
            border: 3px solid rgba(245, 47, 47, 0.5);
            top: 0;
            left: 0;
            transition: all .25s;
            opacity: 0;
        }

        &:hover {
            .detail-item-borders {
                opacity: 1;
            }
        }
    }
}

@media(max-width: 991px) {
    .catalog-single__fiveth-part {
        padding-top: 1rem;

        .added-options-wrapper,
        .added-options-list {
            position: initial;
            max-width: 100%;
            box-shadow: none;
        }

        .added-options-wrapper {
            form {

                input,
                .standart-btn {
                    width: 100%;
                }
            }
        }

        .added-options-list {
            opacity: 1;
        }
    }
}