.catalog-single__sixth-part {
    background-color: #2e2e2e;
    padding: 4rem 0;
    margin-top: 5rem;

    .standart-btn {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 26px;
        padding: 1.25rem 2.5rem;
        margin-left: 1.5rem;
    }
}

.d3-options {
    ul {
        margin-top: 8.125rem;
        padding: 0;
        list-style-type: none;
        border: 2px solid rgba(255, 255, 255, 0.8);
        margin-left: 1.5rem;

        li {
            height: 60px;
            width: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                path {
                    transition: all .25s;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #F52F2F;
                    }
                }
            }
        }

        hr {
            border: 2px solid rgba(255, 255, 255, 0.8);
            margin: 0;
        }
    }
}

.d3-img {
    img {
        max-width: 100%;
    }
}

.scroll-wrapper {
    img {
        max-width: 100%;
    }

    margin-left: 1.5rem;
}

@media(max-width: 991px) {
    .catalog-single__sixth-part {
        padding: 1.875rem 0 5.3125rem 0;
        margin-top: 0;

        .standart-btn {
            margin-left: 0;
            width: 100%;
        }
    }

    .d3-options {
        ul {
            margin: 0;

            li {
                width: 14.28%;
                height: 50px;
            }

            hr {
                height: 50px;
            }
        }
    }

    .d3-img {
        margin-top: 3.75rem;
    }
}